
// Colors
$beige: #FDF0DA;
$light-gray: #F7F7F7;
$dark-gray: #333333;
$teal: #52A896;
$dark-teal: #469081;
$red: #E37780;
$dark-red: #c3545e;


// Fonts
$header-font: 'Anaheim', sans-serif;
$body-font: 'Roboto', sans-serif;
