
// Colors
$beige: #fff6e6;
$light-gray: #fbfbfb;
$pure-gray: #bbbbbb;
$dark-gray: #333333;
$teal: #52A896;
$dark-teal: #469081;
$red: #E37780;
$dark-red: #c3545e;
$blue: #217EBC;
$dark-blue: #1b6494;


// Fonts
$logo-font: 'Anaheim', sans-serif;
$body-font: 'Roboto Slab', serif;
$header-font: 'Roboto', sans-serif;
